@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    section#login{
        width: 90vw;

    }

    div#formulario > h1{
        font-size: 1.9em;
    }
    
    section#login > div#imagem{
        float:left;
        width: 48%;
        height: 100%;
        background-position: center;
    }

    section#login > div#formulario{
        float: right;
        width: 52%;
    }
    
    div#campo > input#ilogin{
        margin-left: 110px;
        margin-top: 10%;
        margin-bottom: 1%;
    }

    div#campo > input#isenha{
        margin-left: 110px;
    }

    input#ibotao{
        margin-left: 110px;
    }
}


@media screen and (min-width:992px){
    section#login{
        width: 990px;

    }

    div#formulario > h1{
        font-size: 1.9em;
    }

    section#login > div#imagem{
        float: left;
        width: 55%;
        height: 100%;
        background-position: center;
    }

    section#login > div#formulario{
        float: right;
        width: 45%;
    }

    
    div#campo > input#ilogin{
        margin-left: 110px;
        margin-top: 10%;
        margin-bottom: 1%;
    }

    div#campo > input#isenha{
        margin-left: 110px;
    }

    input#ibotao{
        margin-left: 110px;
     }
}

    div#formulario > h1{
        text-align: center;
        margin-bottom: 10px;
    }

    div#formulario > p{
        font-size: 1em;
    }