@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #6eb931,#a58463 );
    }
    section#login{
        width: 90vw;

    }

    div#formulario > h1{
        font-size: 1.9em;
    }
    
    section#login > div#imagem{
        float:left;
        width: 40%;
        height: 100%;
        background-position: center;
    }

    section#login > div#formulario{
        float: right;
        width: 60%;
    }
}


@media screen and (min-width:992px){
    body{
        background-image: linear-gradient(to bottom, #6eb931,#896d58 );
    }
    section#login{
        width: 990px;

    }

    div#formulario > h1{
        font-size: 1.9em;
    }

    section#login > div#imagem{
        float: left;
        width: 55%;
        height: 100%;
        background-position: center;
    }

    section#login > div#formulario{
        float: right;
        width: 45%;
    }
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 1em;
}