@charset "UTF-8";

/*

    Paleta de cores

    Verde Claro: #8AA6A3
    Verde escuro/ tom do fundo: #10e65788
    Cinza Escuro: #4C5958
    Cinza bonito/claro : #e6e1e1
    Marrom: #443122

*/

*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color:rgb(51, 33, 17)
}

body, html{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;



    background-color: #ffffff7c;
    width: 325px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.320);
    

    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #6eb931 url(../imagens/pexels-pixabay-158140.jpg) no-repeat;
    background-size: cover;
    height: 190px;
    

}

section#login > div#formulario{
    padding: 10px;
    display: block;
}

section#login > div#formulario > h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

    font-size: 2.5em;
    color: rgb(63, 38, 31);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.226);
}

body{
    background-image: url(../imagens/pexels-fox-58267-212324.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(110, 185, 49, 0.5); /* Cor de fundo semitransparente */
    backdrop-filter: blur(10px); /* O valor pode ser ajustado */
}

div#formulario > p#paragrafo1{
    text-align: center;
    color: rgb(51, 33, 17)
}

div#formulario > p#paragrafo2{
    text-align: center;
    color: rgb(51, 33, 17)
}

div#campo > input#ilogin{
    margin-left: 35px;
    margin-top: 5%;
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombreamento suave */
    padding: 20px; /* Espaçamento interno */
}

div#campo > input#isenha{
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombreamento suave */
    padding: 20px; /* Espaçamento interno */
    margin-left: 35px;
}

input#ibotao{
    margin-left: 35px;
    border: none; /* Sem borda padrão */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombreamento suave */
    padding: 6px 10px; /* Espaçamento interno */
    background-color: #2b5a2d; /* Cor de fundo */
    color: white; /* Cor do texto */
    cursor: pointer; /* Cursor de ponteiro */
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 input#ibotao:hover{
    background-color: rgba(255, 255, 255, 0.596);
    color: #2b5a2d;
 }

 form > a.esqueci {
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding: 6.4px 6px;
    background-color: #2b5a2d;
    color: white;
    font-size: 16px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 form > a.esqueci:hover{
    background-color: white;
    color: #2b5a2d;
 }
 



       

